<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<th:block layout:insert="fragments/htmlhead"/>

	<link href="../../../resources/css/basket.css" th:href="@{/resources/css/basket.css}" rel="stylesheet" type="text/css" />
</head>
<body>
	<div th:replace="fragments/navbar :: navbar('basket')">navbar</div>

	<div class="table-container">
		<div th:replace="fragments/alert :: alert (type=${type}, message=${message})">message</div>
			
		<div th:if="${#lists.isEmpty(basketItemList)}">
			<img th:src="@{/resources/img/basketempty.png}" alt="..." class="img-fluid rounded mx-auto d-block" />
			<a th:href="@{/}" class="btn btn-success btn-block" th:text="#{label.page.home}">Home <i class="fa fa-home" style="color: white;"></i></a>
		</div>
		
		<table class="table" th:if="${not #lists.isEmpty(basketItemList)}" id="basket">
	        <thead class="thead-dark">
	            <tr class="d-flex">
                	<th class="col-1" th:text="#{label.basketItem.id}">#</th>
					<th class="col-6" th:text="#{label.basketItem.name}">Item</th>
					<th class="col-1" th:text="#{label.basketItem.size}">Size</th>
					<th class="col-2" th:text="#{label.basketItem.quantity}">Quantity</th>
					<th class="col-2" th:text="#{label.basketItem.action}">Action</th>
	            </tr>
	        </thead>
          	<tfoot>
          		<tr class="d-flex">
                	<th class="col-md-3"><a th:href="@{/}" class="btn btn-warning" th:text="#{label.basket.continue}"><i class="fa fa-angle-left"></i></a></th>
                	<th class="col-md-2"></th>
                	<th class="col-md-3"></th>
					<th class="col-md-2"><a th:href="@{/basket/cancel}" class="btn btn-danger btn-block"  th:text="#{label.basket.cancel}"> <i class="fa fa-user"></i></a></th>
					<th class="col-md-2"><a th:href="@{/checkout}" class="btn btn-success btn-block"  th:text="#{label.basket.checkout}"> <i class="fa fa-angle-right"></i></a></th>
	            </tr>
			</tfoot> 
	        <tbody>
	            <tr class="d-flex" th:each="basketItem : ${basketItemList}">
	                <td class="col-md-1 text-center" th:text="${basketItem.item.id}"></td>
	                <td class="col-md-6">
						<div class="row">
							<div class="col-md-4 my-5 py-1 px-1 text-center">
								<div class="img-container">
									<img th:src="@{/itemImage(code=${basketItem.item.uniqueCode})}" alt="..." class="img-fluid rounded mx-auto d-block" />
								</div>
							</div>
							<div class="col-md-8 mx-auto my-auto py-1">
								<h4 th:text="${basketItem.item.name}"></h4>
								<p th:text="${basketItem.item.description}"></p>
							</div>
						</div>
					</td>
	                <td class="col-md-1 text-center" th:text="${basketItem.item.size}"></td>
	                <td class="col-md-2 text-center"><input th:id="'quantity' + ${basketItem.item.id}" type="number" class="form-control text-center" th:value="${basketItem.quantity}"></td>
	                <td class="col-md-2">
	                	<div class="col-md-6">
	                		<a th:onclick="|update('${basketItem.item.id}')|" class="btn btn-info btn-block"><i class="fa fa-refresh" style="color:white"></i></a>
	                	</div>
	                	<div class="col-md-6">
							<a th:href="@{/basket/remove(id=${basketItem.item.id})}" class="btn btn-danger btn-block"><i class="fa fa-trash-o" style="color:white"></i></a>
	                	</div>
                	</td>
	            </tr>
	        </tbody>
	    </table>
	</div>

	<div th:insert="~{fragments/footer :: footer}"></div>

	<th:block layout:replace="fragments/itemCard :: updateBasketScript"/>
	<th:block layout:replace="fragments/mainScripts :: mainScripts"/>
	<th:block layout:replace="fragments/mainScripts :: userEdit"/>
</body>
</html>
