<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<th:block layout:insert="fragments/htmlhead"/>
</head>
<body>
	<div th:replace="fragments/navbar :: navbar('nothing')"></div>

	<div class="container">
		<div class="jumbotron mt-3">
			<div th:replace="fragments/alert :: alert (type=${type}, message=${message})">message</div>
		
			<h1 th:if="not ${message}" th:text="#{label.accountNotActivated}"></h1>
			<div th:if="not ${message}" class="alert alert-info" role="alert" th:text="#{label.accountNotActivated.info}"></div>
			
			<div class="row">
				<div class="col-md-6 mb-3">
					<a class="btn btn-primary btn-block" th:href="@{/signin}" th:text="#{label.signin}">signin</a>
				</div>
				
				<div class="col-md-6 mb-3">
					<a class="btn btn-primary btn-block" th:href="@{/register}" th:text="#{label.signup}">signup</a>
				</div>
			</div>
		
		</div>
	</div>
	
	<div th:insert="~{fragments/footer :: footer}"></div>

	<th:block layout:replace="fragments/mainScripts :: mainScripts"/>
</body>
</html>