<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<th:block layout:insert="fragments/htmlhead"/>
</head>
<body>
	<div th:replace="fragments/navbar :: navbar('none')">navbar</div>
	
		<div class="container">
			<div th:replace="fragments/alert :: alert (type=${danger}, message=${message})">message</div>
			
	        <a th:href="@{/}" th:text="#{error.404.message.home}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span></a>
		</div>
		
	<div th:insert="~{fragments/footer :: footer}"></div>
	<th:block layout:replace="fragments/mainScripts :: mainScripts"/>
</body>
</html>