<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<th:block layout:insert="fragments/htmlhead"/>
	<meta name="_csrf" th:content="${_csrf.token}"/>
  	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<link href="../../../resources/css/orderHistory.css" th:href="@{/resources/css/orderHistory.css}" rel="stylesheet" type="text/css" />

</head>
<body>
	<div th:replace="fragments/navbar :: navbar('orders')">navbar</div>

	<div class="container">
		<div th:replace="fragments/alert :: alert (type=${type}, message=${message})">message</div>
			
		<div th:if="${#lists.isEmpty(orderList)}">
			There is no order history
			<a th:href="@{/}" class="btn btn-success btn-block">Home <i class="fa fa-home"></i></a>
		</div>
		
		<div th:if="${not #lists.isEmpty(orderList)}">
			<div class="col-12">
				<div class="card">
					<div class="card-header ">
						<div class="btn-group">
							<button type="button" class="btn btn-success btn-filter" data-target="Completed">Completed</button>
							<button type="button" class="btn btn-info btn-filter" data-target="Pending">Pending</button>
							<button type="button" class="btn btn-warning btn-filter" data-target="InProgress">In progress</button>
							<button type="button" class="btn btn-danger btn-filter" data-target="Cancelled">Cancelled</button>
							<button type="button" class="btn btn-default btn-filter" data-target="all">All</button>
						</div>
					</div>
						<div class="card-body">
						<table class="table table-filter d-flex">
							<tbody class="col-12">
								<tr class="order1 d-flex" th:each="order : ${orderList}" th:attr="data-status=${order.statusCode}, data-for=${order.id}">
									<td class="col-7">
										<div class="order">
											<div class="order-body">
												<span class="order-meta pull-right" th:text="${order.createdDate}"></span>
												<h4 class="title" th:text="${order.orderName}"></h4>
												
												<span th:id="status+${order.id}" th:if="${order.statusCode == T(pl.jacekkulis.snowrental.models.OrderStatusCode).Pending}" 
													class="pending" th:text="${order.statusCode}"></span>
												<span th:id="status+${order.id}" th:if="${order.statusCode == T(pl.jacekkulis.snowrental.models.OrderStatusCode).Completed}" 
													class="completed" th:text="${order.statusCode}"></span>
												<span th:id="status+${order.id}" th:if="${order.statusCode == T(pl.jacekkulis.snowrental.models.OrderStatusCode).InProgress}" 
													class="inProgress" th:text="${order.statusCode}"></span>
												<span th:id="status+${order.id}" th:if="${order.statusCode == T(pl.jacekkulis.snowrental.models.OrderStatusCode).Cancelled}" 
													class="cancelled" th:text="${order.statusCode}"></span>
											</div>
										</div>
									</td>
									
									<td class="col-2">
										<select th:id="statusSelect+${order.id}" class="custom-select">
										   <option th:each="statusCode : ${T(pl.jacekkulis.snowrental.models.OrderStatusCode).values()}"
										          th:value="${statusCode}" 
										          th:text="${statusCode}"
										          th:selected="${statusCode} == ${order.statusCode} ? true : false">
										   </option>
										</select>
									</td>
									
									<td class="col-3 text-center">
										<button class="btn btn-info col-3" th:disabled="true" type="button">
											<i class="fa fa-info icon-white"></i>
										</button>
										<button class="btn btn-warning col-3" th:disabled="true" type="button">
											<i class="fa fa-edit icon-white"></i>
										</button>
										<a class="btn btn-danger col-3" th:href="@{/order/delete(orderId=${order.id}, userId=${user.id})}" >
											<i class="fa fa-trash-o" style="color:white"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:insert="~{fragments/footer :: footer}"></div>
	
	<th:block layout:replace="fragments/mainScripts :: mainScripts"/>
	
	<script th:inline="javascript" type="text/javascript">
	/*<![CDATA[*/
		$(document).ready(function () {
		 	$('.btn-filter').on('click', function () {
		      var $target = $(this).data('target');
		      if ($target != 'all') {
		        $('.table tr').attr("style", "display: none !important");
		        $('.table tr[data-status="' + $target + '"]').fadeIn('slow');
		      } else {
		        $('.table tr').attr("style", "display: none !important").fadeIn('slow');
		      }
		    });
		  
		  
		  	var orderTr = $('.order1');
			var orderid;
			//Click user panel and get userId and update editable
			orderTr.hover(function() {
				//get data-for attribute
				var dataFor = $(this).attr('data-for');
				var string = dataFor.split('.').join("");
				var order = string.match(/\d+/);
				orderId = order[0];
				console.log(orderId); 
				
				var token = /*[[${_csrf.token}]]*/ 'def';
				var paramName = /*[[${_csrf.parameterName}]]*/ '';
				var header = /*[[${_csrf.headerName}]]*/ '';
				
				/* Needed for CSRF Spring Security*/
				$(document).ajaxSend(function(e,xhr,options) {
				   xhr.setRequestHeader(header, token);
				});
				
				console.log('token: ' + token);
				
				
				
				$('#statusSelect'+orderId).change(function(){
					var statusSpan = $('#status'+orderId);
					
					var currentStatus = statusSpan.text();
					var newStatus = $(this).val();
					var statusToSend = newStatus.toString();
					console.log('currentStatus: ' + currentStatus);
					console.log('statusToSend: ' + statusToSend);
					
					console.log({orderId: orderId, statusCode: statusToSend});
					
				    $.ajax({
				        type: "POST",
				        url: "/snowrental/order/changeStatusCode",
				        data: { orderId: orderId, statusCode: statusToSend},
				        timeout: 600000,
				        success: function (data) {
				            console.log("SUCCESS : ", data);
				            statusSpan.removeClass();
							statusSpan.text(newStatus);
							statusSpan.addClass(newStatus.substr(0,1).toLowerCase()+newStatus.substr(1));
				        },
				        error: function (e) {
				        	console.log("error : ", e);
				        }
				    });
					
					
				});
			});
		 });

	/*]]>*/
	</script>
</body>
</html>
